// nextflow.config


// Eddie cluster management
executor  {
    name = 'sge'
    queueSize = 100
    submitRateLimit = '4 sec'
}

// Eddie scratch Directory for temporary files
workDir = "/exports/eddie/scratch/s2421111/nextflow_work"


params {
    // input/output Paths
    cohorts_dir       = '/exports/igmm/eddie/GenScotDepression/users/poppy/aGWAS/cohorts'
    resultsDir        = "${projectDir}/results"
    
    // reference data
    dbSNP_dir         = "/exports/igmm/eddie/GenScotDepression/users/poppy/aGWAS/checks/ref_panels/split_dbSNP"
    ld_ref_dir        = "/exports/igmm/eddie/GenScotDepression/users/poppy/gsem/munging/eur_w_ld_chr"
    hm_snplist        = "${params.ld_ref_dir}/w_hm3.snplist"
    
    // resources
    mrmega_path       = "/exports/igmm/eddie/GenScotDepression/users/poppy/aGWAS/MR-MEGA"
    ldsc_path         = "/exports/igmm/eddie/GenScotDepression/users/poppy/aGWAS/ldsc_rg/ldsc"
    external_munged_dir = "/exports/igmm/eddie/GenScotDepression/users/poppy/aGWAS/ldsc_rg/munged"
}


process {

    // Logic to handle Eddie's parallel environment
    penv = { task.cpus > 1 ? 'sharedmem' : null }

    // Request memory dynamically using h_vmem
    clusterOptions = { "-l h_vmem=${task.memory.toGiga()}G" }

    // --- Default Resources ---
    cpus = 1
    memory = '8 GB'
    time = '1h'

    // --- Process Specific Overrides ---
    
    withName: FORMAT_SUMSTATS {
        time = '2h'
        memory = '8 GB'
    }

    withName: 'PREP_CORR' {
	memory = '24 GB'
	time = '3h'
    }

    withName: MATCH_DBSNP_COHORT {
        memory = '16 GB'
        time = '3h' 
    }

    withName: MERGE_SUMSTATS {
        memory = '4 GB'
        time = '1h'
    }

    withName: 'MUNGE_SUMSTATS|LDSC_H2_COHORT|MUNGE_META_RESULTS|LDSC_H2_META|LDSC_RG_PAIRWISE|LDSC_RG_EXTERNAL' {
    	memory = '16 GB'
    	time = '6h'
    	// Clear any existing conda paths and load the specific LDSC one
    	beforeScript = """
	. /etc/profile.d/modules.sh
    	module load anaconda
    	source deactivate
    	source activate ldsc
    	"""
    }

    withName: 'QC_PLOTS|PLOT_RG_MATRIX' {
        // Initialize modules and load R
        beforeScript = '. /etc/profile.d/modules.sh; module load R/4.5' 
        memory = '16 GB'
        time = '3h'
	cpus = 6
    }

    withName: 'PREP_MR_MEGA' {
        memory = '24 GB'
	cpus = 4
    }

    withName: 'RUN_MR_MEGA'  {
	memory = '24 GB'
	cpus = 10
	time = '4h'
    }

    withName: 'RUN_METAL'  {
	memory = '24 GB'
	cpus = 6
	time = '4h'
        beforeScript = '. /etc/profile.d/modules.sh; module load igmm/apps/metal/2020-05-05'
    }

   
    withName: MATCH_DBSNP_META {
        memory = '16 GB'
        time = '3h'
    }

   
    withName: 'FINAL_QC_REPORT_METAL|FINAL_QC_REPORT_MRMEGA|GENERATE_META_LDSC_REPORT|TABULATE_EXTERNAL_RG|CORR_EAF'  {
	memory = '24 GB'
	cpus = 6
	time = '4h'
        beforeScript = '. /etc/profile.d/modules.sh; module load R/4.5'

    }


}



