// nextflow.config


// Eddie cluster management
executor  {
    name = 'sge'
    queueSize = 100
    submitRateLimit = '2 sec'
}

// Eddie Scratch Directory for temporary files
workDir = "/exports/eddie/scratch/s2421111/nextflow_work"


params {
    resultsDir = "${projectDir}/results"
    cohorts_dir = '/exports/igmm/eddie/GenScotDepression/users/poppy/aGWAS/cohorts'
    input_csv = "${projectDir}/data/cohorts.csv"
    dbSNP_dir = "/exports/igmm/eddie/GenScotDepression/users/poppy/aGWAS/checks/ref_panels/split_dbSNP"
    ldsc_path   = "/exports/igmm/eddie/GenScotDepression/users/poppy/aGWAS/ldsc_rg/ldsc"
    hm_refs     = "/exports/igmm/eddie/GenScotDepression/users/poppy/gsem/munging/eur_w_ld_chr"
    hm_snplist  = "/exports/igmm/eddie/GenScotDepression/users/poppy/gsem/munging/eur_w_ld_chr/w_hm3.snplist"
}


process {

    // Logic to handle Eddie's parallel environment
    penv = { task.cpus > 1 ? 'sharedmem' : null }

    // Request memory dynamically using h_vmem
    clusterOptions = { "-l h_vmem=${task.memory.toGiga()}G" }

    // --- Default Resources ---
    cpus = 1
    memory = '8 GB'
    time = '1h'

    // --- Process Specific Overrides ---
    
    withName: FORMAT_SUMSTATS {
        time = '2h'
        memory = '8 GB'
    }

    // MATCH_DBSNP_PARALLEL runs on single chromosomes. 
    withName: MATCH_DBSNP_PARALLEL {
        memory = '16 GB'
        time = '3h' 
    }

    withName: MERGE_SUMSTATS {
        memory = '4 GB'
        time = '1h'
    }

    withName: 'MUNGE_SUMSTATS|LDSC_H2' {
    	memory = '16 GB'
    	time = '6h'
    	// Clear any existing conda paths and load the specific LDSC one
    	beforeScript = """
	. /etc/profile.d/modules.sh
    	module load anaconda
    	source deactivate
    	source activate ldsc
    	"""
    }

    withName: 'QC_PLOTS' {
        // Initialize modules and load R
        beforeScript = '. /etc/profile.d/modules.sh; module load R/4.5' 
        memory = '16 GB'
        time = '3h'
	cpus = 6
    }

    withName: 'PREP_MR_MEGA' {
        memory = '32 GB'
	cpus = 12
    }

    withName: 'RUN_MR_MEGA'  {
	memory = '32 GB'
	cpus = 12
    }


}



