// nextflow.config


// Eddie cluster management
executor  {
    name = 'sge'
    queueSize = 100
    submitRateLimit = '4 sec'
}

// Eddie scratch Directory for temporary files
workDir = "/exports/eddie/scratch/s2421111/nextflow_work"


params {
    // input/output Paths
    cohorts_dir       = '/exports/igmm/eddie/GenScotDepression/users/poppy/aGWAS/cohorts'
    resultsDir        = "${projectDir}/results"
 
    // reference data
    dbSNP_dir         = "/exports/igmm/eddie/GenScotDepression/users/poppy/aGWAS/checks/ref_panels/split_dbSNP"
    ld_ref_dir        = "/exports/igmm/eddie/GenScotDepression/users/poppy/gsem/munging/eur_w_ld_chr"
    hm_snplist        = "${params.ld_ref_dir}/w_hm3.snplist"
    ukbb_ld_dir = "/exports/igmm/eddie/GenScotDepression/data/resources/LDSC/UKBB.ALL.ldscore"
 
    // resources
    mrmega_path       = "/exports/igmm/eddie/GenScotDepression/users/poppy/aGWAS/MR-MEGA"
    ldsc_path         = "/exports/igmm/eddie/GenScotDepression/users/poppy/aGWAS/ldsc_rg/ldsc"
    external_munged_dir = "/exports/igmm/eddie/GenScotDepression/users/poppy/aGWAS/ldsc_rg/munged"
    gctb		= "/exports/igmm/eddie/GenScotDepression/users/poppy/gctb/gctb"
    ldm			= "/exports/eddie/scratch/s2421111/ukb_50k_bigset_2.8M"
    gctb_ldm_sbrc   = "/exports/igmm/eddie/GenScotDepression/users/poppy/gctb/ldm"
    gctb_annot      = "/exports/igmm/eddie/GenScotDepression/users/poppy/gctb/annot/annot_baseline2.2.txt"
    prevalence_file = "${projectDir}/conf/prevalences.tsv"

    // PLINK genotype files for PRS scoring
    plink_abcd_eur = "/exports/igmm/eddie/GenScotDepression/users/poppy/abcd/multian/euro/ABCD3.0_imputed_EUR_hg19_MAF0.01"
    plink_abcd_amr = "/exports/igmm/eddie/GenScotDepression/users/poppy/abcd/multian/hispanic/ABCD3.0_imputed_AMR_hg19_MAF0.01"
    plink_abcd_afr = "/exports/igmm/eddie/GenScotDepression/users/poppy/abcd/multian/black/ABCD3.0_imputed_AFR_hg19_MAF0.01"
    plink_alspac   = "/exports/igmm/eddie/GenScotDepression/users/poppy/alspac/prs/data_QC_filtered"

}


process {

    // Logic to handle Eddie's parallel environment
    penv = { task.cpus > 1 ? 'sharedmem' : null }

    // Request memory dynamically using h_vmem
    clusterOptions = { "-l h_vmem=${task.memory.toGiga()}G" }

    // --- Default Resources ---
    cpus = 1
    memory = '8 GB'
    time = '1h'

    // --- Process Specific Overrides ---
    
    withName: FORMAT_SUMSTATS {
        time = '2h'
        memory = '8 GB'
    }

    withName: 'PREP_CORR' {
	memory = '24 GB'
	time = '3h'
    }

    withName: MATCH_DBSNP_COHORT {
        memory = '16 GB'
        time = '3h' 
    }

    withName: MERGE_SUMSTATS {
        memory = '4 GB'
        time = '1h'
    }

    withName: 'MUNGE_SUMSTATS|LDSC_H2_COHORT|MUNGE_META_RESULTS|LDSC_H2_META|LDSC_H2_META_NONEUR|LDSC_RG_PAIRWISE|LDSC_RG_EXTERNAL|LDSC_RG_ASCERTAINMENT' {
    	memory = '16 GB'
    	time = '6h'
    	// Clear any existing conda paths and load the specific LDSC one
    	beforeScript = """
	. /etc/profile.d/modules.sh
    	module load anaconda
    	source deactivate
    	source activate ldsc
    	"""
    }

    withName: 'QC_PLOTS|PLOT_RG_MATRIX' {
        // Initialize modules and load R
        beforeScript = '. /etc/profile.d/modules.sh; module load R/4.5' 
        memory = '16 GB'
        time = '3h'
	cpus = 6
    }

    withName: 'PREP_MR_MEGA' {
        memory = '24 GB'
	cpus = 4
    }

    withName: 'RUN_MR_MEGA'  {
	memory = '24 GB'
	cpus = 10
	time = '4h'
    }

    withName: 'RUN_METAL'  {
	memory = '24 GB'
	cpus = 6
	time = '4h'
        beforeScript = '. /etc/profile.d/modules.sh; module load igmm/apps/metal/2020-05-05'
    }

   
    withName: MATCH_DBSNP_META {
        memory = '16 GB'
        time = '3h'
    }

   
    withName: 'FINAL_QC_REPORT_METAL|FINAL_QC_REPORT_MRMEGA|GENERATE_META_LDSC_REPORT|TABULATE_EXTERNAL_RG|CORR_EAF'  {
	memory = '24 GB'
	cpus = 8
	time = '4h'
        beforeScript = '. /etc/profile.d/modules.sh; module load R/4.5'

    }

    
    withName: 'RUN_SBAYESS'  {
	memory = '32 GB'
	cpus = 14
	time = '6h'
    }


    withName: 'IMPUTE_SBAYESRC' {
    memory = '32 GB'
    cpus = 12
    time = '24h'
    }

    withName: 'RUN_SBAYESRC' {
    memory = '24 GB'
    cpus = 16
    time = '24h'
    }

    withName: 'SCORE_PRS' {
    memory = '16 GB'
    cpus   = 6
    time   = '8h'
    beforeScript = '. /etc/profile.d/modules.sh; module load igmm/apps/plink/1.90b7.2'
    }

}



